@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");

:root {
  --highlight-color: 210, 162, 120;
  --highlight-dark-color: 126, 97, 72;
  --gray-text-color: 166, 166, 166;
  --light-background-color: 240, 240, 240;
  --dark-background-color: 217, 217, 217;
}

/*--highlight-color: 249, 175, 122;*/
/*  --highlight-color: 189, 146, 108;
*/
body {
  background-color: rgb(var(--light-background-color));
  margin: 0;
  font-family: "Salsa", cursive;
  /*font-family: "Lemon", serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  text-align: center;
}

header {
  text-align: center;
}

a {
  all: unset;
}

button {
  all: unset;
}

input {
  all: unset;
}

textarea {
  all: unset;
}

label {
  all: unset;
}

