.wrapper {
  width: 1000px;
  max-width: 90%;
  height: min-content;
  margin: auto;
  padding-bottom: 3.5rem;
}

.title {
  font-size: 3em;
  color: rgba(var(--highlight-color), 1);
  font-weight: bold;
}

.content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 5%;
  margin: auto;
  margin-top: 55px;
}

.info {
  background-color: rgb(var(--highlight-color));
  height: fit-content;
  width: 400px;
  border-radius: 0.5rem;
  color: rgb(var(--light-background-color));
  padding: 3rem 1.5rem;
  margin-top: 30px;
}

.info-title {
  font-size: 2.5em;
  color: rgb(var(--light-background-color));
  font-weight: bold;
  margin-bottom: 2.5rem;
}

.contact-lines {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 0 0 1rem 0;
  }

  .title {
    font-size: 40px;
  }

  .content {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .contact-lines {
    flex-direction: row;
  }

  .info {
    margin-top: 35px;
    padding: 1rem 1.5rem;
    max-width: 100%;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.683);
  }

  .info-title {
    font-size: 24px;
    margin-bottom: 0.75rem;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 35px;
  }

  .info {
    width: 100%;
    padding: 1rem 0.3rem;
  }

  .info-title {
    font-size: 22px;
  }

  .contact-lines {
    gap: 10px;
  }
}
