.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  height: min-content;
  position: relative;
}

.button-wrapper {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .button-wrapper {
    margin-top: 0px;
  }

  .wrapper {
    background-color: rgb(var(--dark-background-color), 0.5);
    padding: 15px 10px;
    border-radius: 10px;
    max-width: 500px;
  }
}
