.wrapper {
  width: 100%;
  position: fixed;
  z-index: 500;
  padding-top: 1rem;
  transition: 0.5s;
  height: 6rem;
  top: 0;
  opacity: 0;
  animation: fade-in 1s 0.5s forwards;
}

.wrapper-shrink {
  background-color: rgb(var(--light-background-color));
  width: 100%;
  padding-top: 0;
  color: rgb(var(--highlight-color));
  height: 3rem;
}

.content-section {
  display: grid;
  grid-template-columns: 15rem 1fr 15rem;
  color: rgb(var(--light-background-color));
  align-items: center;
  justify-content: center;
  gap: 200px;
  flex-direction: row;
  height: 100%;
  margin: auto;
  max-width: 95%;
  font-size: 1.1em;
  user-select: none;
  transition: 1s;
}

.home {
  font-weight: bold;
  font-size: 1.5em;
  text-align: right;
  transition: 0.3s;
  cursor: pointer;
  padding: 0.5rem 0;
  border-radius: 2rem;
}

.home-shrink {
  color: rgb(var(--highlight-color));
  font-size: 1.3em;
  color: rgb(var(--highlight-dark-color));
}

.home:hover {
  color: rgba(var(--highlight-color), 1);
}

.active {
  color: rgba(var(--highlight-color), 1);
}

.active::before {
  opacity: 1;
}

.portfolios {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: 0.3s;
}

.portfolios-shrink {
  gap: 0;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.5rem;
  width: wrap;
  color: rgb(var(--light-background-color));
}

.info-button {
  font-size: 0.9em;
  height: 2rem;
  width: wrap;
  min-width: 2rem;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  gap: 0.5rem;
  background-color: rgba(var(--highlight-color), 0);
}

.info-button:hover {
  background-color: rgba(var(--highlight-color), 1);
}

.info-button-shrink {
  height: 1.75rem;
  border-radius: 0.25rem;
  background-color: rgba(var(--highlight-color), 1);
}

.info-button-shrink:hover {
  background-color: rgba(var(--highlight-color), 0.5);
  color: gray;
}

.info-button-shrink:hover .info-icon {
  filter: invert(50%);
}

.info-icon {
  height: 100%;
  aspect-ratio: 1;
  object-fit: contain;
  transition: 0.5s;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 1450px) {
  .content-section {
    width: 100%;
    grid-template-columns: 8rem 1fr 8rem;
    gap: 0;
  }

  .home {
    text-align: center;
  }

  .info {
    gap: 0.1rem;
  }

  .info-text {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .home {
    font-size: 1.1em;
  }

  .content-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
  }

  .portfolios {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .info-button {
    padding: 0.25rem;
    height: 2rem;
    width: 2rem;
    object-fit: contain;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
